<!DOCTYPE html>
<html>
    <head>
        <title>E-Challan Generated</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
        
        <link rel="stylesheet" href="../stylesheets/Other_page.css">
           
        <link rel="stylesheet" href="../stylesheets/table.css">
        <link rel="stylesheet" href="../stylesheets/navbar.css">
       
          
         
    </head>
    <body id="all" style="background-color: #E1F3FD;">
        <header>
        <div class="head">
            <img src="../images/final-20.gif" alt="error " >
            <h1><b>E-Challan Collection System</b></h1>
            <ul> 
                <li><a href="Home_Page.html" class="active" href="#"><i class="fa fa-fw fa-home" ></i>Home</a></li>
                <li>
                    <a  href="../Qurery.html"><i class="fa fa-fw fa-exclamation-circle"></i>Queries</a>
                </li>
                <li>
                    <a  href="#"><i class="fa fa-fw fa-plus"></i>Manage</a>
                    <ul>
                        <li><a href="../newform.html" style="text-decoration: none;">Insert </a></li> 
                        <li><a href="../unewform.html" style="text-decoration: none;">Update</a></li>
                        </ul>
                </li>
               
                <li id="temp"><a href="#" style="text-decoration: none;">Services &nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
                    <ul>
                        <li><a href="/generated" style="text-decoration: none;">Generated </a></li>
                       
                        <li><a href="/integrated" style="text-decoration: none;">Integrated</a></li>
                       
                        <li><a href="#" style="text-decoration: none;">Unmapped</a></li>
                    </ul></li>
    </ul>
            
        </div>
        </header>
        <br><br>
        
        <br>
        <table style="width: 91.7%;">
            <tr >
              <th class="a12" style="padding-top:20px ;"><a href="../Home_Page.html" style="text-decoration: none;"><i class="fa fa-fw fa-home" style="font-size: x-large; color: darkblue; margin-left: 10px; display: inline;text-decoration: none;"></i> </a><p style="font-size: large; display: inline;color: darkblue;">/</p>
                <a href="/integrated" style="font-size: large; color: darkblue; font-family:Arial, Helvetica, sans-serif; text-decoration: none;">Entity Mapped</a> <p style="font-size: large; display: inline; color: darkblue;">/
                </p> <a href="#" style="font-size: large; color: darkblue; font-family:Arial, Helvetica, sans-serif;text-decoration: none; ">Manual Search</a> </th>
                <th style=" color: black;  font-size: 45px; padding-right: 150px;">Manual Search</th>
            </tr>
          </table>
          <br>
          <h2 style="margin-left:30px; margin-top: 20px; font-size: x-large;">NOTE : -  "These records need to be manually searched and integrated with Electricity Bill of Torrent Power."</h2>
          <% if (messages.success) { %>
            <p class="alert alert-success mt-4" id="flash-message" style="font-size:medium;"><%- messages.success %></p>
            <script>
              const flashMessage = document.getElementById("flash-message");
              setTimeout(() => {
                flashMessage.style.display = "none";
              }, 5000);
            </script>
        <% } %> 
          <table class="tg" style="width: 100%;text-align: center;">
            <thead>
              <tr>
                <th class="tg-nof5">Sr. No.</th>
                <th class="tg-nof5" name="challan" placeholder="challan">Challan No.</th>
                <th class="tg-nof5">First Name</th>
                <th class="tg-nof5">Last Name</th>
                <th class="tg-nof5">Mobile No.</th>
                <th class="tg-nof5">Vehicle No.</th>
                <!-- <th class="tg-nof5">Rulebreak</th> -->
                <!-- <th class="tg-nof5">Status</th> -->
                <th class="tg-nof5">Amount</th>
                <th class="tg-nof5">Challan Generated Date </th>
                <th class="tg-nof5">Address Line - 1 </th>
                <th class="tg-nof5">Address Line - 2 </th>
                <th class="tg-nof5">Pincode</th>
                <th class="tg-nof5">Search </th>
              </tr>
            </thead>
            <tbody>
                
                <% if(data.length){
 
                  for(var i = 0; i< data.length; i++) {%>  
                  <tr>
                    <td class="tg-8d8j"scope="row"><%= (i+1) %></td>
                    <td class="tg-8d8j"><%= data[i].Challan_No%></td>
                    <td class="tg-8d8j"><%= data[i].First_name%></td>
                    <td class="tg-8d8j"><%= data[i].Last_Name%></td>
                    <td class="tg-0lax"><%= data[i].Mobile_No%></td>
                    <td class="tg-8d8j"><%= data[i].Vehicle_No%></td>
                    <!-- <td class="tg-8d8j"><%= data[i].Rulebreak%></td> -->
                    <td class="tg-8d8j"><%= data[i].Amount%></td>
                    <td class="tg-8d8j"><%= data[i].Echallan_generated_date%></td>
                    <!-- <td class="tg-7zrl"><%= data[i].Status%></td> -->
                    <!-- <td class="tg-0lax"><%= data[i].Due_Date%></td> -->
                  
                    <!-- <td class="tg-0lax"><%= data[i].Email%></td> -->
                    <td class="tg-0lax"><%= data[i].Address_Line1%></td>
                    <td class="tg-0lax"><%= data[i].Address_Line2%></td>
                    <td class="tg-0lax"><%= data[i].Pincode%></td>
                    
                      <td class="tg-c3ow"><button  class="search"> <a  href="/search/?query=<%= data[i].Challan_No%>" style="text-decoration:none; color: white;">Search</a> </button></td>
                    
<!--                     
                    <% if (i==1) { %>
                      <td class="tg-c3ow"><button> <a href="/search1/"&<%= data[i].Challan_No%> style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %>
                    <% if (i==2) { %>
                      <td class="tg-c3ow"><button> <a href="/search2" style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %>
                    <% if (i==3) { %>
                      <td class="tg-c3ow"><button> <a href="/search3" style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %>
                    <% if (i==4) { %>
                      <td class="tg-c3ow"><button> <a href="/search4" style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %>
                    <% if (i==5) { %>
                      <td class="tg-c3ow"><button> <a href="/search5" style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %>
                    <% if (i==6) { %>
                      <td class="tg-c3ow"><button> <a href="/search6" style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %>
                    <% if (i==7) { %>
                      <td class="tg-c3ow"><button> <a href="/search7" style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %>
                    <% if (i==8) { %>
                      <td class="tg-c3ow"><button> <a href="/search8" style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %>
                    <% if (i==9) { %>
                      <td class="tg-c3ow"><button> <a href="/search9" style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %>
                    <% if (i==10) { %>
                      <td class="tg-c3ow"><button> <a href="/search10" style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %>
                    <% if (i>10) { %>
                      <td class="tg-c3ow"><button> <a href="/search11" style="text-decoration:none; color:white;">Search</a> </button></td>
                    <% }
                    %> -->
                  </tr>
                  <% }
                      
                  }else{ %>
                      <tr>
                          <td colspan="3">No user</td>
                </tr>
                    <% } %>
            </tbody>
            </table>
            <div class="break">
              <!--Display the links to the pages-->
                  <!--previous button-->
                  <% if(page > 1) { %> <a href="/manual/?page=<%=page-1%>">Previous</a> <% } %>
                  <!--links-->
                  <% for(let i = iterator; i <= endingLink; i++) { %>
                      <% if(i === page) { %>
                      <a class="selectedLink" href="/manual/?page=<%=i%>"><%=i%></a>
                      <% continue; %>
                  <% } %>
                      <a href="/manual/?page=<%=i%>"><%=i%></a>
                      <% } %>
                  <!--NEXT button-->    
                      <% if(page < numberOfPages) { %> <a href="/manual/?page=<%=page+1%>">Next</a> <% } %>
              </div>
            </div>  
          </body>
            </body>
            </html>

            